@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon.woff") format("woff"),
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        
font-style: normal;
margin-left: 20px;
}.flaticon-coffee135:before {
	content: "\e000";
}
.flaticon-constructions10:before {
	content: "\e001";
}
.flaticon-engineer:before {
	content: "\e002";
}
.flaticon-house158:before {
	content: "\e003";
}
.flaticon-like80:before {
	content: "\e004";
}
.flaticon-maths5:before {
	content: "\e005";
}
.flaticon-measuring7:before {
	content: "\e006";
}
.flaticon-protection3:before {
	content: "\e007";
}
.flaticon-steps1:before {
	content: "\e008";
}
.flaticon-trophy71:before {
	content: "\e009";
}
